#!/usr/bin/env bash

source /opt/{{ csdt_django_app_name }}/bin/activate

/usr/bin/expect <<EOD
    set timeout -1;
    spawn {{ csdt_django_git_destination }}/manage.py changepassword {{csdt_django_superuser}};
    expect {
        "Password:" { exp_send "{{csdt_django_superpass}}\r" ; exp_continue }
        "Password (again):" { exp_send "{{csdt_django_superpass}}\r" ; exp_continue }
        eof
    }

EOD

deactivate
