command = '{{ csdt_django_gunicorn_command }}'
pythonpath = '{{ csdt_django_gunicorn_pythonpath }}'
bind = '{{ csdt_django_gunicorn_bind }}'
workers = {{ csdt_django_gunicorn_workers }}
user = '{{ csdt_django_gunicorn_user }}'
